
<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%=flash[:alert]%></p>
      <%end%>

  <%= form_tag do%>
  <fieldset>
    <legend>Please log in</legend>

    <div>
      <label for="name">Email:</label>
      <%= text_field_tag :email, params[:email]%>
    </div>

    <div>
        <label for="password">Password:</label>
        <%= password_field_tag :password,params[:password]%>
    </div>

    <div>
      <%= submit_tag "login"%>
    </div>

  </fieldset>
      <%end%>
</div>