<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--<td><%#= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

<h2>posts</h2>

<div id="posts">
  <% @user.posts.each do |post|%>
      <%= div_for post do %>
          <p>
            <strong>Posted <%= time_ago_in_words(post.created_at) %></strong><br/>
            <%= h(post.title) %>
          <td><%= link_to 'Show', post %></td>
          </p>
      <%end%>
  <%end%>
</div>


<%#= link_to 'Edit', edit_user_path(@user) %>
<%#= link_to 'Back', users_path %>

<%= link_to 'New Post', new_post_path %>